@model IEnumerable<MvcDetailed.Models.Employee>
@using MvcDetailed.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th >
            Action
        </th>
    </tr>
    @foreach (Employee emp in Model)
    {
        <tr>
            <td>
                @emp.Name
            </td>
            <td>
                @emp.Email
            </td>
            <td>
                @emp.Phoneno
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = emp.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { Id = emp.Id })
            </td>
        </tr>
    }
</table>